* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    scroll-behavior: smooth;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: gilroy;
}





/* //nabar  */
.car-intro {
    background: url(./UpdatedImages/service_parallax1.avif) repeat fixed 100%;
    background-position: center;
    background-size: cover;
    z-index: -1;
    width: 100%;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7vw;
    border-radius: 10px
}

.car-introcontent {
    width: 100%;
    height: 100%;
    background-color: #00000085;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introcontent {
    text-align: center;
}

.introcontent>h1 {
    font-size: 5vw;
    margin-bottom: 2vw;
    font-family: "Jersey 25", sans-serif;
    font-weight: 200;
    font-style: normal;

    span {
        color: #f5b754;
    }
}

.introcontent>p {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    font-size: 1.1vw;
}

.fleetbox {
    width: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10vw;
}

.filter {
    width: 80%;
    height: 10vh;
    margin-bottom: 2vw;
    display: flex;
    align-items: center;
    color: #e4e3e3;
    margin-bottom: 5vw;
    border-bottom: 1px solid #e4e3e3;
}

.filter>button {
    background: none;
    border: none;
    color: #535353;
    padding: .8vw 2vw;
    font-size: 1vw;
    display: flex;

    border: 2px solid#747474;
}

.form {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.form>div {
    display: flex;
}

.form>div>select {
    padding: .8vw 2vw;
    font-size: 1vw;
    appearance: none;
    -webkit-appearance: none;
    background-image: url("data: image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor' %3E%3Cpath d='M11.9999 13.1714L16.9497 8.22168L18.3639 9.63589L11.9999 15.9999L5.63599 9.63589L7.0502 8.22168L11.9999 13.1714Z' %3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: 20px 20px;
    margin-left: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    font-size: 1vw;
    padding-left: 10px;
    border: 2px solid#747474;
}

.form>div>select:hover {
    box-shadow: 5px 5px 15px gainsboro;
}

.form>div>select>option {
    width: 9vw;
    font-size: 1vw;
    color: #000000;
    background-color: #ffffff;
}

.submit {
    background: none;
    border: none;
    color: #f5b754;
    cursor: pointer;
    font-weight: bold;
    font-size: 1vw;
    padding: .8vw 2vw;
    font-size: 1vw;
    border: 2px solid #f5b754;
}

.or {
    margin-left: 2vw;
    color: #010f4ec7;
}

input {
    background: none;
    border: none;
    color: #050505;
    width: 8vw;
    font-size: 1vw;
    height: 40px;
    border: 1px solid#bcbcbc;
}

.cars-collection {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 2vw;
    padding-bottom: 1vw;
}



.all_car_card_container {
    width: 85%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 4vw;
}

.carsinfo {
    background-color: #cacaca00;
    position: relative;
    width: 24vw;
    height: auto;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgb(199, 199, 199);
}

.category {
    text-transform: capitalize;
}
.carsinfo:nth-child(1)::before {
    display: none;
}


.carinforight {
    width: 100%;
    height: 38vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagebox {
    padding: 1vw;
    height: 100%;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
}




/* swiper code */
.main {
    height: 100%;
    width: 100%;
}

.wrapper,
.slide {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    overflow: hidden;
}

.slide .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* swiper button css */
.nav-btn {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
}

.nav-btn:hover {
    background: rgba(255, 255, 255, 0.4);
}

.swiper-button-next {
    right: 5px;
}

.swiper-button-prev {
    left: 5px;
}

.nav-btn::before,
.nav-btn::after {
    font-size: 15px;
    font-weight: 700;
    color: #000000;
}

.swiper-pagination-bullet {
    background-color: white;
}


.carinfocont {
    width: 100%;
    height: auto;
    gap: 1vw;
    position: relative;
    padding: 0vw 1.2vw;
    padding-bottom: 1.2vw;
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 1.4vw;
        font-family: circular;
        font-weight: 900;
        text-transform: uppercase;
    }

    h2 {
        font-size: 1vw;
        font-weight: 500;
        color: rgb(0, 50, 116);
    }

    .TnC {
        position: absolute;
        right: 5%;
        top: 25%;
        color: #010f4e;
        font-size: .9vw;
    }

    div {
        display: flex;
        gap: 1vw;
    }

    div button>img {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }

    button i {
        color: forestgreen;
        font-size: 1.1vw;
        margin-top: -3px;
    }

    div>button {
        font-size: 1vw;
        width: fit-content;
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
        border-radius: 10px;
        border: none;
        color: #000000;
    }

    .line {
        width: 100%;
        background-color: #000000;
        height: 1px;
        margin-bottom: .2vw;
        margin-top: .3vw;
    }

    .container_price {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .price {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .price p {
        color: forestgreen;
        font-size: 1vw;
    }

    .price h1 {
        margin-top: -1vw;
        font-size: 1.4vw;
        font-weight: 600;
    }

    .time {
        margin-top: -.9vw;
        font-size: .8vw !important;
        font-weight: 300;
    }

    a {
        color: white;
        width: fit-content;
        font-size: 1vw;
        padding: 0.7vw 2.5vw;
        width: fit-content;
        background: none;
        border: none;
        border-radius: 10px;
        text-decoration: none;
        background-color: rgb(7, 45, 126);
        transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;

    }

    a:hover {
        color: #050505;
        background-color: #f5b754;
        box-shadow: 5px 5px 1px rgb(7, 45, 126);
    }
}